pkgbase = archlinux-systemd-boot
	pkgdesc = Arch Install Media as systemd-boot loader entry
	pkgver = 2023.01.01
	pkgrel = 3
	url = https://archlinux.org/download/
	arch = x86_64
	license = various
	depends = systemd
	noextract = archlinux-x86_64.iso
	source = https://geo.mirror.pkgbuild.com/iso/2023.01.01/archlinux-x86_64.iso
	source = https://geo.mirror.pkgbuild.com/iso/2023.01.01/archlinux-x86_64.iso.sig
	source = arch-installmedia.conf
	validpgpkeys = 3E80CA1A8B89F69CBA57D98A76A5EF9054449A5C
	b2sums = 664a0328a81c7d4efc4bce0019c1845809cb10ac9a3235ef6a51647c65a2ab1ec6c8f61f817b67dabb62660e2958931c06ffbe25e27c10def3844a5b5a304dcf
	b2sums = SKIP
	b2sums = SKIP

pkgname = archlinux-systemd-boot
